<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,332},{92,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,71}}</string>
                <key>sourceSize</key>
                <string>{92,71}</string>
            </dict>
            <key>bB_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,370},{64,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{64,176}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bB_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{84,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,184}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bR_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,332},{64,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{64,176}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bR_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{84,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,184}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bY_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,316},{64,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{64,176}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bY_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,284},{84,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,184}}</string>
                <key>sourceSize</key>
                <string>{84,184}</string>
            </dict>
            <key>bb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,167},{245,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,163}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>bb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{245,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,163}}</string>
                <key>sourceSize</key>
                <string>{245,163}</string>
            </dict>
            <key>bb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,50},{232,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,186}}</string>
                <key>sourceSize</key>
                <string>{232,186}</string>
            </dict>
            <key>bb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{451,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,80}}</string>
                <key>sourceSize</key>
                <string>{451,80}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,242},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blackBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,490},{62,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{62,84}</string>
            </dict>
            <key>bor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{167,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,227}}</string>
                <key>sourceSize</key>
                <string>{167,227}</string>
            </dict>
            <key>bor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,370},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,405},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>btnN_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,372},{55,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,115}}</string>
                <key>sourceSize</key>
                <string>{55,115}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,122},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>coinLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>icmain.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,554},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>icnBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,436},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>icnBg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,398},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>icnBg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,382},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>ictili1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,566},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>icvideo.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,507},{77,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>iczuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,507},{69,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,57}}</string>
                <key>sourceSize</key>
                <string>{69,57}</string>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,569},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{52,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>relife_timeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,623},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>tipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,429},{107,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,76}}</string>
                <key>sourceSize</key>
                <string>{107,76}</string>
            </dict>
            <key>tl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,301},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>xueTiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{641,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,18}}</string>
                <key>sourceSize</key>
                <string>{641,18}</string>
            </dict>
            <key>xueTiaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{651,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,26}}</string>
                <key>sourceSize</key>
                <string>{651,26}</string>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,132},{199,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,182}}</string>
                <key>sourceSize</key>
                <string>{199,182}</string>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,444},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,393},{31,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,55}}</string>
                <key>sourceSize</key>
                <string>{31,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>view.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19c743ea71e577addd67d931ccdda10c$</string>
            <key>textureFileName</key>
            <string>view.png</string>
        </dict>
    </dict>
</plist>
